[safe]
	directory = C:/Users/drago/AppData/Local/nvim
	directory = C:/Users/drago/Workspace/gh--dragoscirjan/configs/ide/neovim-config
	directory = C:/Users/drago/AppData/Local/nvim-data/lazy
	directory = C:/Users/drago/AppData/Local/nvim-data/lazy/blink-cmp-copilot
	directory = C:/Users/drago/AppData/Local/nvim-data/lazy/blink.cmp
	directory = C:/Users/drago/AppData/Local/nvim-data/lazy/bufferline.nvim
	directory = C:/Users/drago/AppData/Local/nvim-data/lazy/catppuccin
	directory = C:/Users/drago/AppData/Local/nvim-data/lazy/clangd_extensions.nvim
	directory = C:/Users/drago/AppData/Local/nvim-data/lazy/conform.nvim
	directory = C:/Users/drago/AppData/Local/nvim-data/lazy/copilot.lua
	directory = C:/Users/drago/AppData/Local/nvim-data/lazy/copilot.vim
	directory = C:/Users/drago/AppData/Local/nvim-data/lazy/CopilotChat.nvim
	directory = C:/Users/drago/AppData/Local/nvim-data/lazy/flash.nvim
	directory = C:/Users/drago/AppData/Local/nvim-data/lazy/friendly-snippets
	directory = C:/Users/drago/AppData/Local/nvim-data/lazy/fzf-lua
	directory = C:/Users/drago/AppData/Local/nvim-data/lazy/gitsigns.nvim
	directory = C:/Users/drago/AppData/Local/nvim-data/lazy/grug-far.nvim
	directory = C:/Users/drago/AppData/Local/nvim-data/lazy/lazy.nvim
	directory = C:/Users/drago/AppData/Local/nvim-data/lazy/lazydev.nvim
	directory = C:/Users/drago/AppData/Local/nvim-data/lazy/LazyVim
	directory = C:/Users/drago/AppData/Local/nvim-data/lazy/lualine.nvim
	directory = C:/Users/drago/AppData/Local/nvim-data/lazy/markdown-preview.nvim
	directory = C:/Users/drago/AppData/Local/nvim-data/lazy/mason-lspconfig.nvim
	directory = C:/Users/drago/AppData/Local/nvim-data/lazy/mason.nvim
	directory = C:/Users/drago/AppData/Local/nvim-data/lazy/mini.ai
	directory = C:/Users/drago/AppData/Local/nvim-data/lazy/mini.icons
	directory = C:/Users/drago/AppData/Local/nvim-data/lazy/mini.pairs
	directory = C:/Users/drago/AppData/Local/nvim-data/lazy/neo-tree.nvim
	directory = C:/Users/drago/AppData/Local/nvim-data/lazy/noice.nvim
	directory = C:/Users/drago/AppData/Local/nvim-data/lazy/nui.nvim
	directory = C:/Users/drago/AppData/Local/nvim-data/lazy/nvim-lint
	directory = C:/Users/drago/AppData/Local/nvim-data/lazy/nvim-lspconfig
	directory = C:/Users/drago/AppData/Local/nvim-data/lazy/nvim-treesitter
	directory = C:/Users/drago/AppData/Local/nvim-data/lazy/nvim-treesitter-textobjects
	directory = C:/Users/drago/AppData/Local/nvim-data/lazy/nvim-ts-autotag
	directory = C:/Users/drago/AppData/Local/nvim-data/lazy/persistence.nvim
	directory = C:/Users/drago/AppData/Local/nvim-data/lazy/plenary.nvim
	directory = C:/Users/drago/AppData/Local/nvim-data/lazy/render-markdown.nvim
	directory = C:/Users/drago/AppData/Local/nvim-data/lazy/SchemaStore.nvim
	directory = C:/Users/drago/AppData/Local/nvim-data/lazy/snacks.nvim
	directory = C:/Users/drago/AppData/Local/nvim-data/lazy/todo-comments.nvim
	directory = C:/Users/drago/AppData/Local/nvim-data/lazy/tokyonight.nvim
	directory = C:/Users/drago/AppData/Local/nvim-data/lazy/trouble.nvim
	directory = C:/Users/drago/AppData/Local/nvim-data/lazy/ts-comments.nvim
	directory = C:/Users/drago/AppData/Local/nvim-data/lazy/which-key.nvim
